@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Passion+One&family=Poppins&family=Roboto+Mono&display=swap');


.header {
    padding: 20px;
    background: #5D64DA;
}

.main_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main_header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.main_header_logo img {
    cursor: pointer;
}

.main_header h2 {
    color: white;
}

.input_infos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input_title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 20px auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    gap: 8px;
}

.input_title input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(66, 66, 66);
    width: 20%;
}

.input_select {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.input_select select {
    padding: 12px;
    border-radius: 10px;
}

.editor_container {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}


.div_send {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.send {
    padding: 10px;
}

.send {
    padding: 12px;
    width: 16%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: spin 1s linear infinite;
}

@media screen and (max-width: 620px) {
    .editor_container {
        width: 70%;
    }

    .input_title input {
        width: 60%;
    }
}

@media screen and (max-width: 620px) {
    .editor_container {
        width: 30%;
    }
}