@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Passion+One&family=Poppins&family=Roboto+Mono&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    color: white;

    background: #0077b6;
}

.header:first-child {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.header button {
    font-size: 18px;
    padding: 10px;
    color: white;
}

.container_text {
    padding: 90px 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_text h3 {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    opacity: 0.9;
}


.container_cards_full {
    margin: 8% 0;
}

.container_cards_full h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 5% 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

.container_cards {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
}

.subject_card {
    display: flex;
    flex-direction: column;
    gap: 25%;
    align-items: center;

    padding: 2% 1% 1% 1%;
    text-align: center;
    height: 28%;
    width: 12%;
    min-width: 100px;
    border: 2px solid;
    border-radius: 10px;

    font-size: 20px;

    transition: ease-in-out;
}

.subject_card:hover {
    transform: rotate(3deg)
}

.subject_card a {
    text-decoration: none;
    color: black;
    font-family: bold;
    font-size: 20px;
}