@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Passion+One&family=Poppins&family=Roboto+Mono&display=swap');


.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background: linear-gradient(30deg, #858ae4, #5d64da);
}


.header_top {
    display: flex;
    gap: 10px;
    padding: 15px;
    color: white;
}



.header_container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    flex-wrap: wrap;
    
    padding: 20px;
    height: 100%;

    text-align: center;
    font-size: 4rem;

    color: white;

    font-family: 'Oswald', sans-serif;
}

.header p:nth-child(2) {
    width: 60%;
    color: white;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
}

.header:first-child {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.links {
    margin-top: 6%;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.links a {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 16px;
    border-radius: 32px;
    color: white;
    font-family: 'Nunito', sans-serif;
    transition: 0.2s;
}

.links a:hover {
    opacity: 0.8;
}


.links a:nth-child(1) {
    background: #c7c741;

}

.links a:nth-child(2) {
    background: #A068D9;
}

.container_cards_full {
    margin: 8% 0;
}

.container_cards_full h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 5% 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

.container_cards {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    justify-content: center;
}

.subject_card {
    display: flex;
    flex-direction: column;
    gap: 30%;
    align-items: center;

    padding: 2% 1% 1% 1%;
    text-align: center;
    height: 28%;
    width: 12%;
    min-width: 100px;
    border: 2px solid;
    border-radius: 10px;

    font-size: 20px;

    transition: ease-in-out;
}

.subject_card:hover {
    transform: rotate(3deg)
}

.subject_card a {
    text-decoration: none;
    color: black;
    font-family: bold;
    font-size: 20px;
}

.footer {
    background: #5d64da;
    padding: 24px;

    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.footer a {
    color: white;
}

@media screen and (max-width: 920px) {
    
    .header_top {
        justify-content: center;
        width: 100vw;
        padding: 5px 0;
        margin-bottom: 56px;
    }

    .header {
        justify-content: center;
    } 

    .header h1 {
        font-size: 3rem;
    }

    .header p {
        display: none;
    }

    .links {
        margin-top: 56px;
        width: 50vw;
    }

    .links a {
        padding: 16px;
    }

    .container_cards_full h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .container_cards {
        margin: 80px 0;
    }
  
}

@media screen and (max-width: 540px) {
    .links {
        width: 80vw;
    }
}