@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Passion+One&family=Poppins&family=Roboto+Mono&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0 8px 0;
}

.header p {
    font-size: 3.5em;
    color: white;
    font-family: 'Passion One', cursive;
}

.header a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4em;
}

.header a:hover {
    opacity: 0.9;
}

.container_topics {
    margin: 6% 0 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.topic_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    padding: 1.8%;
    border-left: 5px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(43, 42, 42, 0.719);
}

.topic_card a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(83, 78, 78);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.topic_card p {
    opacity: 0.5;
}


@media screen and (max-width: 520px) {

    .container_topics {
        margin: 12% 0 10% 5%;
    }
    
    .topic_card {
        padding: 12px;
        width: 80%;
    }

    .topic_card a {
        font-size: 1.6rem;
    }
    
}